In [56]:
import pandas as pd
import numpy as np
import re

In [57]:
df=pd.read_csv('Anime_data.csv')
df.head()

,Anime_id,Title,Genre,Synopsis,Type,Producer,Studio,Rating,ScoredBy,Popularity,Members,Episodes,Source,Aired,Link
0,1,Cowboy Bebop,"['Action', 'Adventure', 'Comedy', 'Drama', 'Sc...","In the year 2071, humanity has colonized sever...",TV,['Bandai Visual'],['Sunrise'],8.81,363889.0,39.0,704490.0,26.0,Original,"Apr 3, 1998 to Apr 24, 1999",https://myanimelist.net/anime/1/Cowboy_Bebop
1,5,Cowboy Bebop: Tengoku no Tobira,"['Action', 'Space', 'Drama', 'Mystery', 'Sci-Fi']","Another day, another bounty—such is the life o...",Movie,"['Sunrise', 'Bandai Visual']",['Bones'],8.41,111187.0,475.0,179899.0,1.0,Original,"Sep 1, 2001",https://myanimelist.net/anime/5/Cowboy_Bebop__...
2,6,Trigun,"['Action', 'Sci-Fi', 'Adventure', 'Comedy', 'D...","Vash the Stampede is the man with a $$60,000,0...",TV,['Victor Entertainment'],['Madhouse'],8.31,197451.0,158.0,372709.0,26.0,Manga,"Apr 1, 1998 to Sep 30, 1998",https://myanimelist.net/anime/6/Trigun
3,7,Witch Hunter Robin,"['Action', 'Magic', 'Police', 'Supernatural', ...",Witches are individuals with special powers li...,TV,['Bandai Visual'],['Sunrise'],7.34,31875.0,1278.0,74889.0,26.0,Original,"Jul 2, 2002 to Dec 24, 2002",https://myanimelist.net/anime/7/Witch_Hunter_R...
4,8,Bouken Ou Beet,"['Adventure', 'Fantasy', 'Shounen', 'Supernatu...",It is the dark century and the people are suff...,TV,NaN,['Toei Animation'],7.04,4757.0,3968.0,11247.0,52.0,Manga,"Sep 30, 2004 to Sep 29, 2005",https://myanimelist.net/anime/8/Bouken_Ou_Beet

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17002 entries, 0 to 17001
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Anime_id    17002 non-null  int64
 1   Title       17002 non-null  object
 2   Genre       14990 non-null  object
 3   Synopsis    15583 non-null  object
 4   Type        16368 non-null  object
 5   Producer    7635 non-null   object
 6   Studio      7919 non-null   object
 7   Rating      14425 non-null  float64
 8   ScoredBy    13227 non-null  float64
 9   Popularity  16368 non-null  float64
 10  Members     17002 non-null  float64
 11  Episodes    14085 non-null  float64
 12  Source      15075 non-null  object
 13  Aired       16368 non-null  object
 14  Link        16368 non-null  object
dtypes: float64(5), int64(1), object(9)
memory usage: 1.9+ MB

In [59]:
df.drop(columns=['Producer','Studio','ScoredBy'],inplace=True)
df.dropna(inplace=True)
df.reset_index(inplace=True, drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12249 entries, 0 to 12248
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Anime_id    12249 non-null  int64
 1   Title       12249 non-null  object
 2   Genre       12249 non-null  object
 3   Synopsis    12249 non-null  object
 4   Type        12249 non-null  object
 5   Rating      12249 non-null  float64
 6   Popularity  12249 non-null  float64
 7   Members     12249 non-null  float64
 8   Episodes    12249 non-null  float64
 9   Source      12249 non-null  object
 10  Aired       12249 non-null  object
 11  Link        12249 non-null  object
dtypes: float64(4), int64(1), object(7)
memory usage: 1.1+ MB

In [60]:
new_df = df[df['Genre'].str.contains('Shounen')].reset_index(drop=True)
new_df = new_df.iloc[:100]
new_df.head()

,Anime_id,Title,Genre,Synopsis,Type,Rating,Popularity,Members,Episodes,Source,Aired,Link
0,6,Trigun,"['Action', 'Sci-Fi', 'Adventure', 'Comedy', 'D...","Vash the Stampede is the man with a $$60,000,0...",TV,8.31,158.0,372709.0,26.0,Manga,"Apr 1, 1998 to Sep 30, 1998",https://myanimelist.net/anime/6/Trigun
1,8,Bouken Ou Beet,"['Adventure', 'Fantasy', 'Shounen', 'Supernatu...",It is the dark century and the people are suff...,TV,7.04,3968.0,11247.0,52.0,Manga,"Sep 30, 2004 to Sep 29, 2005",https://myanimelist.net/anime/8/Bouken_Ou_Beet
2,15,Eyeshield 21,"['Action', 'Sports', 'Comedy', 'Shounen']",Sena is like any other shy kid starting high s...,TV,8.05,888.0,106468.0,145.0,Manga,"Apr 6, 2005 to Mar 19, 2008",https://myanimelist.net/anime/15/Eyeshield_21
3,17,Hungry Heart: Wild Striker,"['Slice of Life', 'Comedy', 'Sports', 'Shounen']",Kyosuke Kano has lived under the shadow of his...,TV,7.69,3330.0,16132.0,52.0,Manga,"Sep 11, 2002 to Sep 10, 2003",https://myanimelist.net/anime/17/Hungry_Heart_...
4,20,Naruto,"['Action', 'Adventure', 'Comedy', 'Super Power...","Moments prior to Naruto Uzumaki's birth, a hug...",TV,7.88,9.0,975394.0,220.0,Manga,"Oct 3, 2002 to Feb 8, 2007",https://myanimelist.net/anime/20/Naruto

In [61]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')

tfidf_mat = tfidf.fit_transform(new_df['Genre'])
tfidf_mat

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 592 stored elements and shape (100, 39)>

In [62]:
from sklearn.metrics.pairwise import linear_kernel

cosine_sim = linear_kernel(tfidf_mat,tfidf_mat)
cosine_sim

array([[1.        , 0.22103498, 0.35337136, ..., 0.17344145, 0.18991049,
        0.07129958],
       [0.22103498, 1.        , 0.06532989, ..., 0.2520705 , 0.03897502,
        0.08424544],
       [0.35337136, 0.06532989, 1.        , ..., 0.23195583, 0.04411429,
        0.77547095],
       ...,
       [0.17344145, 0.2520705 , 0.23195583, ..., 1.        , 0.02165214,
        0.04680162],
       [0.18991049, 0.03897502, 0.04411429, ..., 0.02165214, 1.        ,
        0.05688709],
       [0.07129958, 0.08424544, 0.77547095, ..., 0.04680162, 0.05688709,
        1.        ]])

In [64]:
data = pd.Series(new_df['Genre'],index = new_df.index)
data = pd.DataFrame(data)
data

                                                Genre
0   ['Action', 'Sci-Fi', 'Adventure', 'Comedy', 'D...
1   ['Adventure', 'Fantasy', 'Shounen', 'Supernatu...
2           ['Action', 'Sports', 'Comedy', 'Shounen']
3    ['Slice of Life', 'Comedy', 'Sports', 'Shounen']
4   ['Action', 'Adventure', 'Comedy', 'Super Power...
..                                                ...
95          ['Sports', 'Drama', 'Romance', 'Shounen']
96                ['Adventure', 'Fantasy', 'Shounen']
97  ['Action', 'Comedy', 'Demons', 'Supernatural',...
98  ['Romance', 'Samurai', 'Historical', 'Drama', ...
99                              ['Shounen', 'Sports']

[100 rows x 1 columns]

In [34]:
mask = np.ones(ab.shape[0], dtype=bool)
mask[[3,4]] = False
arr_no_rows = ab[mask]
print(arr_no_rows.shape)
mask = np.ones(arr_no_rows.shape[1], dtype=bool)
mask[[3,4]] = False
arr_no_rows_no_cols = arr_no_rows[:, mask]
print(arr_no_rows_no_cols.shape)

(1564, 1566)
(1564, 1564)

In [163]:
class ItemRecommender:
    def __init__(self, df_new):
        self.data = data
        self.cosine_sim = cosine_sim
        self.df = df_new
        self.ram = 'Shounen'
        self.len_df = len(self.df)
        
    def recommendation(self, keyword):
        index = self.data[self.data['Genre'].str.contains(keyword, flags=re.IGNORECASE, regex=True)].index[0]
        sim_score = list(enumerate(self.cosine_sim[index]))    
        sim_score = sorted(sim_score, key=lambda x: x[1], reverse=True)
        sim_score = sim_score[:10]
        final_index = [i[0] for i in sim_score]
        return final_index

    def remove_mat(self, idx):
        mask = np.ones(self.cosine_sim.shape[0], dtype=bool)
        mask[idx] = False
        arr_no_rows = self.cosine_sim[mask]
        
        mask = np.ones(arr_no_rows.shape[1], dtype=bool)
        mask[idx] = False
        self.cosine_sim = arr_no_rows[:, mask]
        
    def predict(self):
        idx = self.recommendation(self.ram)
        b = pd.DataFrame()
        b['Title'] = self.df['Title'].iloc[idx]   
        b.reset_index(drop=True,inplace=True)
        self.remove_mat(idx)
        self.df = self.df.drop(index=idx).reset_index(drop=True)
        self.data = self.data.drop(index=idx).reset_index(drop=True)
        
        return b

    def re_learn_init(self):
        # Asking users for reward
        results = []
        count = 0
        while True:
            rec_anime = self.predict()
            print(f"Recommendation set {count+1} : ", list(rec_anime['Title']))        
            reward = float(input("Give a reward for this set [0.0 - 7.0]: "))
            print("\n")
            rec_anime['Reward'] = reward
            results.append(rec_anime[['Title', 'Reward']])            
            count+=1            
            if count >= (self.len_df/10):
                break
        re_df = pd.concat(results, ignore_index=True)
        
        return re_df

    def compute_eff(self, q):
        # 7 is the target reward and step size is 0.1
        new_q = q + (1/10)*(7-q)
        return new_q
        
    def re_learn_process(self):
        re_df = self.re_learn_init()
        re_df["New_Reward"] = re_df['Reward']
        for i in range(1,101):
            re_df['New_Reward'] = re_df['New_Reward'].apply(lambda q: self.compute_eff(q))
        return re_df

In [164]:
rec=ItemRecommender(new_df)
a=rec.re_learn_process()

Recommendation set 1 :  ['Trigun', 'Viewtiful Joe', 'Bakuten Shoot Beyblade', 'Sunabouzu', 'Gate Keepers 21', 'Scrapped Princess', 'Kidou Tenshi Angelic Layer', 'Ou Dorobou Jing', 'Chuuka Ichiban!', "E's Otherwise"]

Give a reward for this set [0.0 - 7.0]:  4.2

Recommendation set 2 :  ['Bouken Ou Beet', 'Tales of Phantasia The Animation', 'Lodoss-tou Senki', 'Tsubasa Chronicle', 'Gensoumaden Saiyuuki', 'Shaman King', 'Groove Adventure Rave', 'Avenger', 'Mahoujin Guruguru', 'Dokidoki♡Densetsu: Mahoujin Guruguru']

Give a reward for this set [0.0 - 7.0]:  1.1

Recommendation set 3 :  ['Eyeshield 21', 'Ring ni Kakero 1', 'Hajime no Ippo: Champion Road', 'Hajime no Ippo: Mashiba vs. Kimura', 'Buzzer Beater', 'Tennis no Ouji-sama', 'Hajime no Ippo', 'H2', "I'll/CKBC", 'Dan Doh!!']

Give a reward for this set [0.0 - 7.0]:  2.9

Recommendation set 4 :  ['Hungry Heart: Wild Striker', 'Boys Be...', 'Great Teacher Onizuka', 'Beck', 'Love Hina', 'Gunparade March: Arata Naru Kougunka', 'Asagiri no Miko', 'Dear Boys', 'Slam Dunk', 'Whistle!']

Give a reward for this set [0.0 - 7.0]:  3.6

Recommendation set 5 :  ['Naruto', 'Rekka no Honoo', 'Dragon Ball', 'Tenjou Tenge', 'Hunter x Hunter', 'Hunter x Hunter: Yorkshin City Kanketsu-hen', 'Hunter x Hunter: Greed Island', 'Hunter x Hunter: Greed Island Final', 'Grappler Baki (TV)', 'Bleach']

Give a reward for this set [0.0 - 7.0]:  7

Recommendation set 6 :  ['School Rumble', 'Sakigake!! Cromartie Koukou', 'Pita Ten', 'Tenshi na Konamaiki', 'Mahou Sensei Negima!', 'Love Hina Again', 'Midori no Hibi', 'Yakitate!! Japan', 'Suzuka', 'Ichigo 100%']

Give a reward for this set [0.0 - 7.0]:  5.8

Recommendation set 7 :  ['Rurouni Kenshin: Meiji Kenkaku Romantan - Ishinshishi e no Chinkonka', 'Rurouni Kenshin: Meiji Kenkaku Romantan - Seisou-hen', 'Peace Maker Kurogane', 'Samurai Champloo', 'Mutsu Enmei Ryuu Gaiden: Shura no Toki', 'Power Stone', 'Tactics', 'InuYasha (TV)', 'Spiral: Suiri no Kizuna', 'Area 88 (TV)']

Give a reward for this set [0.0 - 7.0]:  0

Recommendation set 8 :  ['Appleseed (Movie)', 'Macross Zero', 'Burn Up Excess', 'Gate Keepers', 'Gad Guard', "B'T X", 'Kidou Senkan Nadesico', 'Xenosaga The Animation', 'Kidou Senkan Nadesico: The Prince of Darkness', 'Vandread']

Give a reward for this set [0.0 - 7.0]:  3.3

Recommendation set 9 :  ['Black Cat', 'Tokyo Underground', 'Dragon Ball GT', 'GetBackers', '.hack//Tasogare no Udewa Densetsu', 'eX-Driver', 'Heppoko Jikken Animation Excel♥Saga', 'Vandread: The Second Stage', 'Grenadier: Hohoemi no Senshi', 'Boukyaku no Senritsu']

Give a reward for this set [0.0 - 7.0]:  6.2

Recommendation set 10 :  ['Ou Dorobou Jing in Seventh Heaven', 'Madlax', 'Fullmetal Alchemist', 'Loveless', 'Hikaru no Go', 'Matantei Loki Ragnarok', 'Fake', 'Yuu☆Yuu☆Hakusho', 'Gravitation', 'Kannazuki no Miko']

Give a reward for this set [0.0 - 7.0]:  0.4

In [165]:
a

                     Title  Reward  New_Reward
0                   Trigun     4.2    6.999926
1            Viewtiful Joe     4.2    6.999926
2   Bakuten Shoot Beyblade     4.2    6.999926
3                Sunabouzu     4.2    6.999926
4          Gate Keepers 21     4.2    6.999926
..                     ...     ...         ...
95  Matantei Loki Ragnarok     0.4    6.999825
96                    Fake     0.4    6.999825
97         Yuu☆Yuu☆Hakusho     0.4    6.999825
98             Gravitation     0.4    6.999825
99       Kannazuki no Miko     0.4    6.999825

[100 rows x 3 columns]

### All Anime are close to reaching the target reward of 7

In [175]:
for index, row in a.iloc[:,1:].iterrows():
    print(list(row.to_dict().values()))

[4.2, 6.999925628083115]
[4.2, 6.999925628083115]
[4.2, 6.999925628083115]
[4.2, 6.999925628083115]
[4.2, 6.999925628083115]
[4.2, 6.999925628083115]
[4.2, 6.999925628083115]
[4.2, 6.999925628083115]
[4.2, 6.999925628083115]
[4.2, 6.999925628083115]
[1.1, 6.999843287746562]
[1.1, 6.999843287746562]
[1.1, 6.999843287746562]
[1.1, 6.999843287746562]
[1.1, 6.999843287746562]
[1.1, 6.999843287746562]
[1.1, 6.999843287746562]
[1.1, 6.999843287746562]
[1.1, 6.999843287746562]
[1.1, 6.999843287746562]
[2.9, 6.99989109826456]
[2.9, 6.99989109826456]
[2.9, 6.99989109826456]
[2.9, 6.99989109826456]
[2.9, 6.99989109826456]
[2.9, 6.99989109826456]
[2.9, 6.99989109826456]
[2.9, 6.99989109826456]
[2.9, 6.99989109826456]
[2.9, 6.99989109826456]
[3.6, 6.999909691243782]
[3.6, 6.999909691243782]
[3.6, 6.999909691243782]
[3.6, 6.999909691243782]
[3.6, 6.999909691243782]
[3.6, 6.999909691243782]
[3.6, 6.999909691243782]
[3.6, 6.999909691243782]
[3.6, 6.999909691243782]
[3.6, 6.999909691243782]
[7.0, 7.0]
[7.0, 7.0]
[7.0, 7.0]
[7.0, 7.0]
[7.0, 7.0]
[7.0, 7.0]
[7.0, 7.0]
[7.0, 7.0]
[7.0, 7.0]
[7.0, 7.0]
[5.8, 6.999968126321335]
[5.8, 6.999968126321335]
[5.8, 6.999968126321335]
[5.8, 6.999968126321335]
[5.8, 6.999968126321335]
[5.8, 6.999968126321335]
[5.8, 6.999968126321335]
[5.8, 6.999968126321335]
[5.8, 6.999968126321335]
[5.8, 6.999968126321335]
[0.0, 6.999814070207787]
[0.0, 6.999814070207787]
[0.0, 6.999814070207787]
[0.0, 6.999814070207787]
[0.0, 6.999814070207787]
[0.0, 6.999814070207787]
[0.0, 6.999814070207787]
[0.0, 6.999814070207787]
[0.0, 6.999814070207787]
[0.0, 6.999814070207787]
[3.3, 6.9999017228241165]
[3.3, 6.9999017228241165]
[3.3, 6.9999017228241165]
[3.3, 6.9999017228241165]
[3.3, 6.9999017228241165]
[3.3, 6.9999017228241165]
[3.3, 6.9999017228241165]
[3.3, 6.9999017228241165]
[3.3, 6.9999017228241165]
[3.3, 6.9999017228241165]
[6.2, 6.9999787508808895]
[6.2, 6.9999787508808895]
[6.2, 6.9999787508808895]
[6.2, 6.9999787508808895]
[6.2, 6.9999787508808895]
[6.2, 6.9999787508808895]
[6.2, 6.9999787508808895]
[6.2, 6.9999787508808895]
[6.2, 6.9999787508808895]
[6.2, 6.9999787508808895]
[0.4, 6.999824694767342]
[0.4, 6.999824694767342]
[0.4, 6.999824694767342]
[0.4, 6.999824694767342]
[0.4, 6.999824694767342]
[0.4, 6.999824694767342]
[0.4, 6.999824694767342]
[0.4, 6.999824694767342]
[0.4, 6.999824694767342]
[0.4, 6.999824694767342]